body  {
	margin: 0;
	padding: 0;
	background: #6F9;
	}

#container  {
	width: 100%;
	}

	.header {
		display: flex;
		width: 100%;
		height: 130px;
		align-items: center;
		justify-content: center;
		font-family: 'Nunito', sans-serif;
		font-size: 30px;
		font-weight: bold;
		background-color: #A9A9A9;
	}
	#header2 {
		background: #6F9;
		align-items: center  !important;
		padding: 20px 20px 20px 20px;
		height: 200px;
	}


	#show {
		background: #A9A9A9;
		align-items: center  !important;
		padding: 20px 20px 20px 20px;
		width: 300px;
		height: 250px;
		border-radius: 10%;
	}

    #eixo2 {
		background: #A9A9A9;
		align-items: center  !important;
		padding: 20px 20px 20px 20px;
		width: 300px;
		height: 250px;
		/* border-radius: 10%; */
	}

	#eixo {
		background: #A9A9A9;
		align-items: center  !important;
		padding: 20px 20px 20px 20px;
		width: 300px;
		height: 250px;
		border-radius: 10%;
	}

	#menu  {
		float: right;
		width: 100%;
		background: #6F9;
		}


	#contents  {
		float: left;
		width: 20%;
		background: rgb(184, 187, 185);
		padding: 30px 0px 0px 100px;
		}



    .rodape{
		font-size: 0.8rem !important;
		color: rgb(121, 119, 119);
	}

	#news{
		border: 1px solid;
		float: right;
		width: 25%;
		height: 750px;
		background: #6F9;

	}

	#quadro1{
		width: 40%;
		height: 750px;
		background: #6F9;

	}

	#quadro2{
		width: 40%;
		float: right;
		height: 750px;
		background: #6F9;

	}

	.quadroAviso{
		width: 20%;
		align-items: center !important;
	}
